body {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
body, input, button {
  margin-top: 0px;
  border: 1px solid black;
  font: 14px "Microsoft YaHei", Arial, sans-serif;
  text-align: center;
}
form {
  transition-duration: 0.5s;
}
button, input {
  outline: none;
}
a {
  display: inline-block;
  width: 90px;
  height: 24px;
  border-radius: 5px;
  background-color: #66ccff;
  color: black;
  text-align: center;
  font-size: 16px;
}
a:hover {
  background-color: #6666ff;
  color: white;
}
h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#header {
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  height: 60px;
  position: fixed;
  background-color: #6666ff;
  color: white;
  text-align: left;
}

#body {
  margin-top: 100px;
  height: 100%;
}

#left {
  float: left;
}

#left > div {
  width: 200px;
  margin-left: 10px;
  border: 2px solid #66ccff;
  border-radius: 10px;
  background-color: #fbfbfb;
  overflow: hidden;
}

#right {
  float: right;
  width: 640px;
  margin-right: 10px;
  padding-left: 30px;
  /*border: 1px solid yellow;*/
  text-align: left;
}
#right p {
  margin-top: -5px;
}

#footer {
  clear: both;
  padding-bottom: 30px;
}

.regist, .login {
  width: 50%;
  border: none;
  height: 36px;
  background-color: #66ccff;
  color: black;
  font-size: 20px;
  padding-bottom: 5px;
  transition-duration: 0.3s;
}
.regist:hover, .login:hover {
  background-color: #9999ff;
}
.active {
  background-color: #6666ff;
  color: white;
}

#pagename {
  text-align: center;
  margin-top: 0px;
  font-size: 28px !important;
  width: 100%;
  border: none;
  height: 35px;
  background-color: #aaaaff;
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
}

#waiting {
  width: 20px;
  height: 20px;
  margin-right: 90px;
}

#data p {
  width: 160px;
  margin-left: 20px;
  text-align: left;
}

#back {
  /*float: left;*/
  width: 45px;
  left: 0px;
  border: 2px solid #66ccff;
  background-color: #66ccff;
  padding-left: 5px;
  padding-right: 0;
  margin-right: 20px;
  border-radius: 50% 0 0 50%;
}
#back:hover {
  background-color: #6666ff;
  border: 2px solid #6666ff;
}

#para {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#para p {
  padding-left: 0px;
}

#blog-btn {
  margin-top: 10px !important;
}

#blog-btn button {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.posts {
  position: relative;
  width: 570px;
  border: 1px solid green;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  padding-top: 0px;
}

.posts p {
  color: gray;
  margin-bottom: 40px;
}
.posts div {
  position: absolute;
  right: 20px;
  margin-top: -30px;
}

#right input, #right textarea {
  resize: none;
  width: 270px;
  margin: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #cccccc;
  border-radius: 5px;
  overflow: auto;
  transition-duration: 0.5s;
}
@media screen and (min-height: 961px) {
  #right { height: 800px; }
  #right textarea { height: 640px; }
  #post-container {height: 725px; }
}
@media screen and (max-height: 960px) {
  #right { height: 600px; }
  #right textarea { height: 440px; }
  #post-container {height: 525px; }
}

#right input:hover, #right textarea:hover {
  border: 2px solid #aaaaff;
}
#right input:focus, #right textarea:focus {
  border: 2px solid #3333ff;
}
#read-post {
  width: 580px;
  height: auto;
  float: none;
  margin-left: 0;
}
#blog-btn span {
  color: red;
}
#checkbox {
  margin-left: 300px;
}
#checkbox input {
  width: 12px !important;
  height: 12px;
  margin: 0 !important;
}
#post-container {
  overflow-y: auto;
  border: 1px solid gray;
  padding-left: 25px;
  padding-bottom: 25px;
}
#top-button {
  margin-bottom: 25px;
}

#comments {
  width: 560px;
  /*border: 1px solid blue;*/
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}
.comment {
  border: none;
  border-left: 5px solid #66ccff;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.comment-author {
  font-size: 16px;
  color: blue;
}
.comment-text {
  color: gray;
  padding-left: 10px;
  margin-top: 0px !important;
}
.at {
  color: #6666ff;
}
.comment a {
  font-size: 14px;
  width: 68px;
  height: 20px;
}
.delete {
  background-color: #ff7878;
}
.delete:hover {
  background: red;
}
.error-message {
  color: red;
  margin-top: -10px;
}

.checkbox {
  height: 20px;
  margin: 0;
  text-align: left;  
}
.checkbox input {
  opacity: 0;
  width: 0px !important;
  height: 0px !important;
  margin: 0;
  text-align: left;
}


/* styles */
/*Stylesheet*/
/*css*/
input:hover, a:hover {
  transition-duration: 0.2s;
}
form {
  text-align: right;
}
a {
  text-decoration: none;
}
input {
  text-align: left;
  width: 100px;
  height: 24px;
  border: 1px solid blue;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#sign-in {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  box-shadow: 3px 3px 5px gray;
}
#title {
  background-color: #bbbbff;
  line-height: 36px;
  color: white;
  font-size: 36px;
  padding-top: 16px;
  padding-bottom: 8px;
  height: 48px;
  margin-bottom: 20px;
}
#reset, #submit {
  border: none;
  border-radius: 0 0 0 0;
  text-align: center;
  width: 50%;
  margin: 0px;
  height: 36px;
  font-size: 20px;
  background-color: #aaaaff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#reset {
  border-left: 1px solid white;
}
#reset:hover, #submit:hover {
  background-color: #66ccff;
}
#reset:active, #submit:active {
  background-color: #6666ff;
}
.info {
  text-align: left;
  margin-left: 40px;
}
.info span {
  margin-left: 10px;
}
.err-input {
  opacity: 0;
  color: red;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  width: 160px;
  margin-left: 35px;
  margin-top: -10px;
  margin-bottom: -5px;
  height: 20px;
  transition-duration: 0.5s;
}