/* These scrollbar styles only works on chrome and safary */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #80cbc4;
}
::-webkit-scrollbar-thumb {
  background-color: #009688;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #0277bd;
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #01579b;
}

/* main styles */
body {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0e0e0;
}
body, input, button {
  margin-top: 0px;
  border: 1px solid #0d47a1;
  font: 14px "Microsoft YaHei", Arial, sans-serif;
  text-align: center;
}
button {
  border: none;
  background-color: #66ccff;
  cursor: pointer;
  transition-duration: 0.2s;
}
button:hover {
  background-color: #9999ff;
  color: white;
}
button, input {
  outline: none;
}
a, label, button {
  display: inline-block;
  width: 90px;
  height: 24px;
  background-color: #29b6f6;
  color: black;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 1px 1px 2px gray;
}
a {margin-right: 8px;}
a:hover, label:hover {
  background-color: #039be5;
  color: white;
  box-shadow: 1px 1px 4px gray;
}
h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

#header {
  width: 800px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  height: 60px;
  position: fixed;
  background-color: #0d47a1;
  color: white;
  text-align: left;
}

#body {
  margin-top: 100px;
  height: 100%;
}

#left {
  float: left;
  margin-left: 10px;
}

#left > div {
  width: 200px;
  margin-left: 10px;
  border: 1px solid #0277bd;
  background-color: #fbfbfb;
  overflow: hidden;
}

#right {
  float: right;
  width: 640px;
  margin-right: 15px;
  text-align: left;
}
#right p {
  margin-top: -5px;
}
#search {
  margin-left: 20px;
}
#search input {
  width: 60px !important;
  height: 15px !important;
  margin-bottom: 0 !important;
}

#footer {
  clear: both;
  padding-bottom: 30px;
}

.regist, .login {
  width: 50%;
  border: none;
  height: 36px;
  background-color: #29b6f6;
  color: black;
  font-size: 20px;
  padding-bottom: 5px;
  transition-duration: 0.3s;
}
.regist:hover, .login:hover {
  background-color: #039be5;
  border: none;
}
.user-active {
  background-color: #0277bd;
  color: white;
}

#pagename {
  text-align: center;
  margin-top: 0px;
  font-size: 28px !important;
  width: 100%;
  border: none;
  height: 35px;
  background-color: #0277bd;
  color: white;
  font-size: 20px;
  padding-bottom: 5px;
}

#waiting {
  width: 20px;
  height: 20px;
  margin-right: 90px;
}

#data p {
  width: 160px;
  margin-left: 20px;
  text-align: left;
  word-break: normal;
  word-wrap: break-word;
}

#back {
  width: 60px;
  left: 0px;
  background-color: #00b0ff;
  margin-right: 20px;
  margin-bottom: 10px;
  font-weight: normal;
}
#back:hover { background-color: #0091ea; }

#para {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
#para p { padding-left: 0px; }

#blog-btn { margin-top: 10px !important; }

#blog-btn button {
  width: 120px;
  margin-left: auto;
  margin-right: auto;
}

#post-footer {margin-bottom: 30px;}

.posts {
  position: relative;
  width: 580px;
  border: 1px solid #fafafa;
  background-color: #fafafa;
  margin-top: 20px;
  padding: 0px;
  padding-left: 8px;
  box-shadow: 3px 3px 7px #aaaaaa;
  transition-duration: 5s;
}

.posts p {
  color: gray;
  margin-bottom: 40px;
}
.posts div {
  position: absolute;
  right: 0px;
  margin-top: -30px;
}

#right input, #right textarea {
  resize: none;
  width: 270px;
  margin: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border: 2px solid #cccccc;
  /*border-radius: 5px;*/
  overflow: auto;
  transition-duration: 0.5s;
}
@media screen and (min-height: 961px) {
  #right { height: 800px; }
  #right textarea { height: 640px; }
  #post-container {height: 725px; }
}
@media screen and (max-height: 960px) {
  #right { height: 600px; }
  #right textarea { height: 440px; }
  #post-container {height: 525px; }
}

#right input:hover, #right textarea:hover { border: 2px solid #aaaaff; }
#right input:focus, #right textarea:focus { border: 2px solid #3333ff; }
#read-post {
  width: 580px;
  height: auto;
  float: none;
  margin-left: 0;
  box-shadow: 3px 3px 7px #aaaaaa;
}
#blog-btn span {
  color: red;
}
#checkbox {
  margin-left: -30px;
  background-color: inherit;
  box-shadow: none;
  overflow: none;
}
#checkbox:hover {color: black}
#checkbox input {
  width: 12px !important;
  height: 12px;
  margin-right: 5px !important;
}
#post-container {
  overflow-y: auto;
  background-color: #ececec;
  padding-left: 20px;
  padding-bottom: 25px;
  box-shadow: inset 0px 0px 20px gray;
}
#top-button {
  margin-bottom: 25px;
}

#comments {
  width: 560px;
  text-align: left;
  margin-top: 20px;
  padding: 10px;
}
#comments strong {
  margin-left: 10px;
  font-size:18px;
  color: #004d40;
}
.comment {
  border: none;
  border-left: 5px solid #66ccff;
  border-right: 5px solid #66ccff;
  background-color: rgba(100, 255, 218, 0.5);
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 4px gray;
}
.comment-author {
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
.comment-text {
  color: gray;
  padding-left: 10px;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.at { color: #6666ff; }
.comment-operations {
  text-align: left;
  width: 100%;
}
.comment a, label {
  font-size: 14px;
  height: 20px;
  margin-top: 0;
  text-align: center !important;
  cursor: pointer;
}
label input { display: none; }
.delete { background-color: #e57373; }
.delete:hover { background: #f44336; }
.hide { background-color: #80cbc4; }
.hide:hover { background-color: #009688; }
.error-message {
  color: red;
  margin-top: -10px;
}

.checkbox {
  height: 20px;
  text-align: left;  
}
.checkbox input {
  opacity: 0;
  width: 0px !important;
  height: 0px !important;
  margin: 0;
  text-align: left;
}
.date {
  color: #777;
  font-weight: bold;
  margin-left: 10px;
  font-size: 14px;
}
#add-comment { margin-left: 20px; }
#add-comment > div > textarea {
  width: 480px;
  height: 60px;
  font-size: 14px;
  margin-left: 15px !important;
  margin-top: -20px !important;
}
#add-comment > div {
  margin-top: 30px;
  margin-left: 0px;
}
.reply {
  width: 320px !important;
  height: 60px !important;
  font-size: 14px;
  margin-left: 30px;
}
#add-comment button {
  margin-bottom: 10px;
  margin-left: 20px;
}
.guest { color:gray; }
.post-author {
  color: #2962ff;
  font-weight: normal;
  margin-left: 10px;
  font-size: 14px;
}
input.at {
  width: 80px !important;
  height: 15px;
  margin-top: 10px !important;
  margin-bottom: -10px !important;
  margin-left: 5px !important;
}
.hidden {
  border: 1px solid gray;
  background-color: #f0f0f0;
  width: 160px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
#loading-container {
  width: 100%;
  z-index: 1050;
  background-color: white;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
}
#loading-container img {
  display: block;
  width: 50px;
  height: 50px;
  margin: auto;
  margin-top: 200px;
}

input:hover, a:hover, label:hover { transition-duration: 0.2s; }
form { text-align: right; }
input {
  text-align: left;
  width: 100px;
  height: 24px;
  border: 1px solid blue;
  margin-right: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

#sign-in {
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  background-color: #cccccc;
  box-shadow: 3px 3px 5px gray;
}
#title {
  background-color: #bbbbff;
  line-height: 36px;
  color: white;
  font-size: 36px;
  padding-top: 16px;
  padding-bottom: 8px;
  height: 48px;
  margin-bottom: 20px;
}
#reset, #submit {
  border: none;
  text-align: center;
  width: 50%;
  margin: 0px;
  height: 36px;
  font-size: 20px;
  background-color: #039be5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#reset:hover, #submit:hover { background-color: #0288d1; }
#reset:active, #submit:active { background-color: #0277bd; }
.info {
  text-align: left;
  margin-left: 40px;
}
.info span { margin-left: 10px; }
.err-input {
  opacity: 0;
  color: red;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  width: 160px;
  margin-left: 35px;
  margin-top: -10px;
  margin-bottom: -2px;
  height: 20px;
  transition-duration: 0.5s;
}

.switch-container {
  overflow: none;
  float: left;
  position: absolute;
  display: inline-block;
  width: 35px;
  margin-top: 10px;
  height: 10px;
  /*border: 1px solid black;*/
  border-radius: 5px;
  background-color: #40b6ac;
  transition-duration: 0.2s;
}
.switch {
  margin-left: -30px;
  margin-top: -5px;
  display: inline-block;
  background-color: #90caf9;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px gray;
  transition-duration: 0.2s;
}
.switch-container:hover .switch { background-color: #42a5f5; }
.switchon { background-color: #00897b; }
.switchon .switch {
  margin-left: 20px;
  background-color: #1976d2;
}
.checkbox-text { margin-left: 170px; }