/* 文档全局配置 */
html, body, li {
    width: 100%;
    height: 100%;
    list-style-type: none;
}
div {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: white;
    width: 200px;
    margin: 0px;
    padding: 0px;
}

/* 动画效果 */
#info-bar, #button:hover #info-bar, #control-ring-container, #button:hover #control-ring-container, .apb, .icon, #button:hover .unread, li{
    transition-duration: 0.5s;
}
#button:hover .apb, #button:hover .icon { transition-delay: 0s; }
.apb, .icon { transition-delay: 0.5s; }

/* 全局定位 */
#button div, #bottom-positioner, #control-ring, .info, .page, .mine, .button, .apb, .unread, span, img {
    position: absolute;
}

/* 全局容器 */
#at-plus-container {
    width: 200px;
    border: none;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#bottom-positioner {
    width: 200px;
    bottom: 180px;
}
#button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 88px;
    margin-top: 100px;
}

/* info-bar 容器 */
#info-bar {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: #7e7e7e;
    top: 112px;
    left: 100px;
    overflow: hidden;
}
.info {
    width: 0px;
    height: 0px;
    left: 50%;
    top: 0px;
}
#button:hover #info-bar {
    width: 130px;
    height: 130px;
    top: -50px;
    left: 35px;
}

/* info-bar 细节*/
.page {
    width: 0px;
    margin-left: -35px;
}
#button:hover .page {
    width: 55px;
    height: 25px;
}
.user {
    left: 10px;
    top: 8px;
}
.user span {
    left: 30px;
    top: 1px;
}
.comment {
    left: -2px;
    top: 38px;
    width: 0px;
    height: 0px;
}
#button:hover .comment {
    left: -2px;
    top: 38px;
    width: 90px;
    height: 50px;
}
.comment span {
    left: 36px;
    top: 0px;
    font-size: 33px;
}
.comment img {
    left: 0px;
    top: 8px;
    width: 26px;
    height: 28px;
}
.mine {
    width: 0px;
    top: 83px;
}
.mine span { top: 1px;}
#button:hover .mine {
    top: 84px;
    width: 44px;
    height: 25px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
    color: #29d696;
}
.posted { right: 2px; }
.posted span { left: 30px; }
.like { left: 3px; }
.like span { left: 32px; }

/* control-ring 容器*/
#control-ring-container {
    left: 90px;
    top: 100px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
#control-ring {
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
}
#button:hover #control-ring-container {
    left: 2px;
    top: 52px;
    width: 145px;
    height: 145px;
}

/* control-ring 细节 */
.button {
    opacity: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    left: -19px;
    top: -19px;
    background-color: #686868;
}
#button:hover .button, #button:hover .unread { opacity: 1; }
#button:hover .mask {
    background: url(assets/images/nomask.png) no-repeat #686868;
    left: -55px;
    top: -65px;
}
#button:hover .history {
    background: url(assets/images/history.png) no-repeat #686868;
    background-position: 9px 9px;
    background-size: 15px, 18px;
    left: -65px;
    top: -27px;
}
#button:hover .message {
    background: url(assets/images/message.png) no-repeat #686868;
    left: -50px;
    top: 10px;
}
#button:hover .setting {
    background: url(assets/images/setting.png) no-repeat #686868;
    left: -17px;
    top: 31px;
}
#button:hover .sign {
    background: url(assets/images/signin.png) no-repeat #686868;
    left: 26px;
    top: 28px;
}
#button:hover .mask, #button:hover .message, #button:hover .setting, #button:hover .sign {
    background-position: 9px 10px;
    background-size: 15px, 18px;
}
.unread {
    opacity: 0;
    left: 22px;
    top: -3px;
    width: 13px;
    height: 17px;
    border-radius: 50%;
    line-height: 18px;
    font-weight: normal;
    font-size: 12px;
    padding-top: 1px;
    padding-left: 5px;
    background-color: red;
}

/* @+按钮 */
.apb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9fa2d7;
}
#button:hover .apb {
    transform: scale(2);
    background-color: #2e3aa0;
}
.icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(assets/images/atplus_white.png) no-repeat #9a9ece;
    background-position: 3px 5px;
    background-size: 20px 14px;
}
#button:hover .icon {
    background: url(assets/images/atplus_green.png) no-repeat rgba(48, 63, 159, 1);
    background-position: 3px 5px;
    background-size: 18px, 13px;
}