doctype html
html
  head
    title 详情
    link(rel='stylesheet' href='public/css/style.css')
    script(type='text/javascript' src='public/js/jquery.js')
    script(type='text/javascript' src='public/js/detail.js')

  body
    div#sign-in
      h1#title 用户详情
      if error
        div#error-container 只能查看自己的账户信息

      p.info 用户名 
        span #{user.username}

      p.info 学　号 
        span #{user.number}

      p.info 电　话 
        span #{user.phone}

      p.info 邮　箱 
        span #{user.email}

      a#log-out(href='/delete-cookies') 退出
 
