/*
    By HSN, B-23, SDCS, SYSU
        11th, OCT, 2015
*/

body {
    text-align: center;
    font-family: Arial;
    position: relative;
}

a {
    text-decoration: none;
}

h1 {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    width: 480px;
    background-color: #bbbbee;
}

div {
    margin: 0px auto;
    width:604px;
}

div div {
    float: left;
    text-align: center;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
    border-radius: 6px;
    color: black;
    font-style: bold;
    font-size: 24px;
    background-color: #ccccff;
}
div div:hover {
    background-color: #aaaaff;
    color: white;
}

div > div {
    background-color: #cccccc;
}
div > div:hover {
    background-color: #dddddd;
    color: black;
}

body > p {
    clear: both;
    margin-top: 240px;
}