nav(navbar)
div#login-container
  h2 login
  form
    p old password
      input(type="password" ng-model='form.oldPassword')
    p new password
      input(type="password" ng-model='form.newPassword')
    p repeat password
      input(type="password" ng-model='form.repeatPassword')
    button(ng-click='changePassword()') Submit