doctype
html
  head
    meta(charset='utf8')
    base(href='/')
    title 博客
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/mdstyle.css')
    link(rel='stylesheet', href='/css/atelier-cave.light.css')
    link(rel='stylesheet', href='/css/paging.css')
    link(rel='shortcut icon', href='/img/favicon.png')
  body
    block content
