doctype
html
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/mdstyle.css')
    link(rel='stylesheet', href='/css/atelier-cave.light.css')
    link(rel='stylesheet', href='/css/paging.css')
  body
    block content
