a#back(href='/') 返回
br
div(ng-controller='mdCtrl' ng-model='form')
  h2 {{form.title}}
  div.markdown#read-post(ng-bind-html='form.text')
p#blog-btn
  span 删除操作是不可恢复的，您确定要继续吗？ 
  br
  button(ng-click='deletePost()') 确定
  |  - 
  button(ng-click='home()') 取消