p 现在有{{posts.length}}篇文章  
  a(href='addPost') 添加新文章

div.posts(ng-repeat='post in posts')
  h3 {{post.title}}
  p {{post.text}}
  a(href='readPost/{{post.id}}') 查看全文
  |  - 
  a(href='editPost/{{post.id}}') 编辑文章
  |  - 
  a(href='deletePost/{{post.id}}') 删除文章

am-paging(config="pagingConfig")